<h2>New Plan</h2>

<%= render "form.html", Map.put(assigns, :action, analysis_plan_path(@conn, :create, @analysis)) %>

<span><%= link "Back", to: analysis_plan_path(@conn, :index, @analysis) %></span>
